body {
  background-color: #000;
  color: #0f0;
  font-family: "Lucida Console", Monaco, monospace;;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#welcome {
  padding: 20px;
  box-sizing: border-box;
}

#output {
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;
  overflow-y: auto;
}

.input-line {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Add some margin to separate from the output box */
}

#prompt {
  margin-right: 5px;
}

.input {
  flex: 1;
  background: none;
  border: none;
  color: #0f0;
  font-family: monospace;
  font-size: 1em;
  outline: none;
  padding-left: 0.5em;
}

.cursor {
  width: 10px;
}

.readonly-line .input {
  background: none;
  border: none;
  color: #0f0;
  font-family: monospace;
  font-size: 1em;
  outline: none;
}

.cursor {

}

/* Typing animation and blinking cursor */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

#welcome-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #0f0;
  animation: typing 4s steps(30, end), blink 0.75s step-end infinite;
}

.output-line {
  margin-top: 10px;
}
